{% extends "base.html"%}
{%block content%}
    <section class="section1">
        <div class="container">
            <div class="wrapper">
                <div class="block_item">
                    Your Global Gateway for INDUSTRIAL Automation Parts™
                </div>
            </div>
        </div>
    </section>


    <section class="section3">
        <div class="container">
            <div class="wrapper" id="mt-minus">
                <div class="block_item" >
                   <h3>About us</h3>
                   <p>PLCCNCZONE was established As a trading company solely managed by the MD on E-commerce platforms over a decade and our goal and commitment is to serve customers for all their industrial automation spares wether current or obsolete.
                    </p><br><br>
                   <p>We strive to guarantee our customers satisfaction and shorter downtime </p>
                </div>
            </div>
        </div>
    </section>





{%endblock%}